.box{
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
}
.div2{
     display: flex;
}
.div3{
     display: flex;
}
.big-container .card:hover{
    box-shadow: 0 0 9px rgb(12, 12, 12);
   transition: 0.5s;
}
.container .card:hover{
     text-decoration: underline;
}
